{% extends "layout.html" %}

{% block body %}
<ul class="breadcrumbs">
	<li><a href="/">Home</a></li>
	<li><a href="/command">SQL</a></li>
	<li class="current"><a href="#">Edit</a></li>
</ul>
<form action="{{request.path}}" method="post" class="custom">
	{{ xsrf_form_html() }}
	<p>
		<lable>COMMAND NAME</lable>
		<input type="text" name="name" id="name" value="{{command.Name}}" /></p>
	<p>
		<lable>COMMAND DESCRIPTION</lable>
		<input type="text" name="description" id="description" value="{{command.Description}}" /></p>
	<p>
		<lable>CATALOG</lable>
		<select name="catalogId" id="catalogId">
			{% for catalog in catalogs%}
			<option value="{{catalog.CatalogId}}">{{catalog.Name}}</option>
			{%end%}
		</select>
	</p>
	<p>
		<lable>COMMAND TEXT</lable>
		<textarea name="commandText" id="commandText" rows="10" cols="40">{{command.CommandText}}</textarea>
	</p>
	<p>
		<lable>COMMAND PARAMETERS</lable>
		<textarea name="parameters" id="parameters" rows="10" cols="40">{{command.Parameters}}</textarea>
	<p>
		<input type="submit" value="Submit" class="button"></p>
</form>
{% end %}