{% extends "layout.html" %}

{% block body %}
	<p>
		<a href="/command/add" class="button">Add Command</a>
	<p>
	<table class="twelve">
		<thead>
			<tr>
				<th>CommandId</th>
				<th>Name</th>
				<th>Description</th>
				<th>Catalog</th>
				<th>CreateTime</th>
				<th>Function</th>
			</tr>
		</thead>
		<tbody>
			{%for command in commands%}
			<tr>
				<td>{{command.CommandId}}</td>
				<td><a href="/command/{{command.CommandId}}">{{command.Name}}</a></td>
				<td>{{command.Description}}</td>
				<td>{{command.CatalogName}}</td>
				<td>{{command.CreateTime}}</td>
				<td>
					<a href="/command/execute/{{command.CommandId}}">Execute</a>
					<a href="/command/edit/{{command.CommandId}}">Edit</a>
				</td>
			</tr>
			{%end%}
		</tbody>
	</table>
{% end %}